* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.body {
	min-height: 100vh;
	position: relative;
	padding: 10px;
}

.body::before {
	content: '';
	background-image: url("restau.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.35;
}

header {
  background: #111;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

h1, h2 {
	position: relative;
	margin-bottom: 15px;
}

div, p {
	position: relative;
}

.container {
	display: grid;
	grid-template-rows: 250px;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 30px;

.box-1 {
	background: #ffffff;	
	padding: 20px;
	opacity: 0.79;
	transition: .5s;
	border-radius: 10px;
}

.box-1 a {
	text-decoration: none;
	color: black;
}
}

.box-1:hover {
	opacity: 1;
	transition: .5s;
    background: linear-gradient(360deg, orange, transparent);
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}