* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f8f8;
  color: #333;
}

header {
  background: #111;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

.container {
  padding: 40px;
  color: green;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
  margin-bottom: 15px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.menu-item {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 10px 5px 15px #00000047;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  background: #ffe8c8;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.call-btn {
  display: inline-block;
  margin-top: 20px;
  background: orange;
  padding: 12px 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.price {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
